__pycache__/
*.py[cod]
*.pkl
*.joblib
*.ipynb_checkpoints/

.env
.venv/
env/
venv/

.vscode/

*.log
output/*.csv

notebooks/.ipynb_checkpoints/

data/raw/
data/processed/

model/*.pkl
model/*.joblib

app/__pycache__/
src/__pycache__/
